@model ToDoApp.Models.Task

@{
    ViewBag.Title = "Create";
}

<h2 style="color:white">Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 style="color:white">Task</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="text-align: left; width:550px;">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", Style = "color: white; text-align: left;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="text-align: left; width:550px;">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", Style = "color: white; text-align: left;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="text-align: left; width:550px;">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2", Style = "color: white; text-align: left;" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="width:550px;">
        <label class="control-label col-md-2" style="color:white; text-align:left;">Member</label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.AssignedUserId, new SelectList(ViewBag.TeamMembers, "Value", "Text"), "Select member", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AssignedUserId, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.ProjectId)

    <div class="form-group" style="text-align: left; width:550px;">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2", Style = "color: white; text-align: left;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="text-align: left; width:550px;">
        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2", Style = "color: white; text-align: left;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="">
        <div class="col-md-offset-0 col-md-1" style="text-align:left;">
            <input type="submit" style="width:100px; background-color: #4CAF50; color: black; border: none; font-weight:600; margin-bottom:20px;" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}