@model ToDoApp.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left; margin-bottom:10px;">
            Project Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Title)
        </dd>

        <dt style="text-align:left; margin-bottom:10px;">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt style="text-align:left; margin-bottom:10px;">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt style="text-align:left; margin-bottom:10px;">
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt style="text-align:left; margin-bottom:10px;">
            Assigned User
        </dt>

        <dd>
            @{
                var db = new ToDoApp.Models.ApplicationDbContext();

                string name = "None";
                if (Model.AssignedUserId != null)
                {
                    var user = db.Users.FirstOrDefault(x => x.Id == Model.AssignedUserId);
                    if (user != null)
                    {
                        name = user.UserName;
                    }
                }
                @Html.DisplayFor(model => name)
            }
        </dd>

        <dt style="text-align:left; margin-bottom:10px;">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt style="text-align:left; margin-bottom:10px;">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
@{
    if (ViewBag.HasTaskRights)
    {
        @Html.ActionLink("Edit ", "Edit", "Tasks", new { id = Model.TaskId }, htmlAttributes: new { Style = "margin-right: 5px; color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
        @Html.ActionLink("Remove ", "Delete", "Tasks", new { taskId = Model.TaskId }, htmlAttributes: new { Style = "margin-right: 5px; color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
    }
    else
    {
        if (Model.AssignedUserId == ViewBag.CurrentUserId)
        {
            @Html.ActionLink("Change Status", "Edit", "Tasks", new { id = Model.TaskId }, new { Style = "color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
        }
    }
}
<br />
<div style="margin-top: 10px;">
    @Html.Partial("TaskComments", (PagedList.IPagedList<ToDoApp.Models.Comment>)ViewBag.TaskComments)
</div>

<br />
<div>
    @Html.Partial("AddComment", (ToDoApp.Models.Comment)ViewBag.NewComment)
</div>

<style>
    html, body {
        overflow-x: hidden;
    }

    dd, dt, h1, h2, h3, h4, h5, h6, p {
        color: white;
    }
    td{
        max-width: 400px;
        overflow: auto;
    }

    .anotheruser {
        color: white;
    }

    .anotheruser:hover {
        color: #7792bf;
    }
</style>