@model ToDoApp.Models.TeamsNewManager

@{
    ViewBag.Title = "ChangeManager";
}

<h2>Change Manager</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.HiddenFor(model => model.formerManagerId)

            
                <div class="col-md-10">
                    @Html.Label("Select new manager")
                    @Html.DropDownListFor(m => Model.newManagerId, new SelectList(ViewBag.AllUsers, "Value", "Text"), "Select team manager", new { @class = "form-control" })
                </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

