@model IPagedList<ToDoApp.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="dashboard-content">
    <h2 style="text-align:center; display: inline; margin-left: 42%;">Users</h2>

    <table style="width:100%; margin-top: 1%; border-bottom: none; border-right: none; border-top:none;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UserName)
            </th>
            <th style="border: none; text-align: center; width: 180px"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td style="border: none; text-align: center; width: 170px">
                    @Html.ActionLink("Change role", "ChangeRole", new { id = item.Id }, new { Style = "color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { Style = "color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
                    @*<a href="@Url.Action("Delete","Users", new { id = item.Id })" style="float: right; margin-top: 0;"><i class="material-icons" style="color: #54b86f; font-size:20px; padding: 0;">delete</i></a>*@
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, i => @Url.Action("Index","Users",new { i }))
</div>

<style>
    html, body {
        overflow-x: hidden;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th {
        text-align: center;
    }
    td {
        max-width: 300px;
        padding-left: 1%;
        overflow-x: auto;
    }


    .dashboard-content {
        width: 90%;
        height: 100%;
        overflow-y: auto;
        background-color: #f1f1f1;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .pagination-container{
        position: absolute;
        bottom: 1.5%;
    }
</style>
