@model ToDoApp.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group" style="text-align: left; width:1150px;">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" , Style = "color:white; text-align: left;"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="text-align: left; width:1150px;">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" , Style = "color:white; text-align: left;"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="text-align: left; width:1150px;">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label", Style = "color:white; text-align: left;"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" style="">
        <div class="col-md-offset-0 col-md-1" style="text-align:left;">
            <input type="submit" style="width:140px; background-color: #4CAF50; color: black; border: none; font-weight:600; margin-bottom:20px;" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    html, body {
        color: white;
        overflow-x: hidden;
    }
</style>