@model ToDoApp.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left; margin-bottom:10px;">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt style="text-align:left; margin-bottom:10px;">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt style="text-align:left; margin-bottom:10px;">
            @Html.DisplayNameFor(model => model.Team.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.User.UserName)
        </dd>

        <dt style="text-align:left; margin-bottom:10px;">
            Team Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Title)
        </dd>


        <dt style="text-align:left; margin-bottom:10px;">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.HasRights)
    {
        @Html.ActionLink("Edit ", "Edit", new { id = Model.ProjectId }, new { Style = "margin-right: 5px; color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
        
        @Html.ActionLink("Delete ", "Delete", new { id = Model.ProjectId }, new { Style = "margin-right: 5px; color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
        
        @Html.ActionLink("Add task ", "Create", "Tasks", routeValues: new { projectId = Model.ProjectId }, htmlAttributes: new { Style = "color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
        

    }
</div>

<br />
<br />
<br />
<div>
    @Html.Partial("ProjectTasks", (PagedList.IPagedList<ToDoApp.Models.Task>)ViewBag.ProjectTasks)
</div>

<style>
    html, body {
        overflow-x: hidden;
    }

    dd, dt, h1, h2, h3, h4, h5, h6, p {
        color: white;
    }

    .anotheruser {
        color: white;
    }

        .anotheruser:hover {
            color: #7792bf;
        }
</style>