@model IPagedList<ToDoApp.Models.Project>
@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="dashboard-content">
    <h2 style="text-align:center; display: inline; margin-left: 42%;">Projects</h2>
    @if (ViewBag.HasRights)
    {
        <a href="@Url.Action("Create", "Projects")" style="float: right; margin-top: 1%;"><i class="material-icons">add</i></a>
    }
    <table style="width:100%; margin-top: 1%; border-bottom: none; border-right: none;">
        <tr>
            <th>Project</th>
            <th>Manager</th>
            <th>Team name</th>
        </tr>


        @*@foreach (var project in ViewBag.Projects)
            {
                <tr>
                    <td>@project.Title</td>
                    <td>@project.Team.User.UserName</td>
                    <td>@project.Team.Title</td>
                    <td style="border: none; text-align: center; width: 180px"> @Html.ActionLink("details", "Details", "Projects", new { id = project.ProjectId }, new { Style = "color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
                </tr>
            }*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Title)
                </td>
                <td style="border: none; text-align: center; width: 180px"> @Html.ActionLink("details", "Details", "Projects", new { id = item.TeamId }, new { Style = "color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })</td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, i => Url.Action("Index", "Projects", new { i }))

</div>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th {
        text-align: center;
    }

    td {
        max-width: 300px;
        max-height: 300px;
        padding-left: 1%;
        overflow-x: auto;
        overflow-y: auto;
    }

    .dashboard-content {
        width: 90%;
        height: 100%;
        overflow-y: auto;
        background-color: #f1f1f1;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .pagination-container{
        position: absolute;
        bottom: 1.5%;
    }
</style>
