@model ToDoApp.Models.Team

    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <div style="padding: 0; margin:0;">
        <h4>Team @Model.Title</h4>
        <hr />
        <dl class="dl-horizontal" style="padding:0; margin: 0; text-align:left;">
            <dt style="text-align:left; margin-bottom:10px;">
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt style="text-align:left; margin-bottom:10px;">
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>

            <dt style="text-align:left; margin-bottom:17px;">
                @Html.DisplayNameFor(model => model.LastUpdate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastUpdate)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to teams", "Index", null, new { @class = "backLink" })
    </p>

    <style>
        dd, dt{
            text-align: left;
        }

        .dat{
            text-align: left;
        }

        html, body {
            overflow-x: hidden;
        }

        dd, dt, h1, h2, h3, h4, h5, h6, p {
            color: white;
        }

        .anotheruser {
            color: white;
        }

            .anotheruser:hover {
                color: #7792bf;
            }

        .backLink{
            background-color: #4CAF50;
            color: black;
            font-weight: 600;
            border-radius: 5px;
            padding-bottom: 3px;
            padding-top: 3px;
            padding-left: 3px;
            padding-right: 3px;
        }

        .backLink:hover{
            background-color: #4CAF50;
            color: #474747;
            text-decoration: none;
            border-radius: 5px;
            padding-bottom: 3px;
            padding-top: 3px;
            padding-left: 3px;
            padding-right: 3px;
        }

    </style>