@model ToDoApp.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="padding:0; margin: 0; text-align:left;">
        <dt style="text-align:left; margin-bottom:10px;">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.Raw(Model.Title)
        </dd>

        <dt style="text-align:left; margin-bottom:10px;">
            Manager UserName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
</div>

<br />
<div>
    @if (ViewBag.HasRights)
    {
        @Html.ActionLink("Edit", "Edit", "Teams", new { id = Model.TeamId }, new { Style = "color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
        @Html.ActionLink("Delete", "Delete", "Teams", new { id = Model.TeamId }, new { Style = "color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
        <br />
        @Html.ActionLink("Add member ", "AddMember", new { teamId = Model.TeamId }, new { Style = "color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" })
    }
</div>

<br />
<br />
<br />
<div>
    @Html.Partial("TeamMembers", (PagedList.IPagedList<ToDoApp.Models.ApplicationUser>)ViewBag.TeamMembers)
</div>

<style>
    html, body {
        overflow-x: hidden;
    }

    dd, dt, h1, h2, h3, h4, h5, h6, p {
        color: white;
    }

    .anotheruser {
        color: white;
    }

        .anotheruser:hover {
            color: #7792bf;
        }
</style>